<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rickandmorty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/rick_morty"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/rick_morty"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.view.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>